/* main */
.banner-products img{
    margin: 38px 0 48px;
}
.main-content-products{
    display: grid;
    grid-template-columns: 230px 1fr;
    margin-bottom: 9px;
}
.sidebar-list{
    list-style: none;
}
.sidebar-list li{
    margin-bottom: 24px;
}
.sidebar-list li a{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.related_products-title{
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #111928;
    margin-bottom: 32px;
}
.related_products-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 48px;
}
.related_products__image{
    border-radius: 20px;
    max-width: 325px;
}
.related_products__title{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #111928;
    margin: 24px 0 12px;
}
.related_products-price{
    color: var(--red-color);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.related_products-btnAdd{
    background-color: #111928;
    border-radius: 6px;
    width: 325px;
    height: 42px;
    color: var(--white-color);
}