*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.wapperSignin{
    max-width: 400px;
    margin: 0 auto;
}
/* Header */
.headerSignin{
    text-align: center;
    margin: 45px 0 55px;
}
/* Main */
.main .main-heading{
    text-align: center;
}
.main-heading__greeting{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D3748;
    margin-bottom: 16px;
}
.main-heading__title{
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;
}
/* Form */
.form-field{
    margin-bottom: 42px;
    position: relative;
}
.input-form{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 17px;
    transition: 0.25s ease;
    border: 1px solid #eee;
}
.input-form:focus-visible,
.btn-submit:focus-visible,
.signinWith_GG:focus-visible,
.btn-submit:focus{
    outline: none;
}
.input-form:focus{
    border-color: rgba(55, 169, 205, 1);
}
.lable-form{
    position: absolute;
    top: 14px;
    left: 17px;
    color: #C4C4C4;
    user-select: none;
    pointer-events: none;
}
.input-form:not(:placeholder-shown) + .lable-form,
.input-form:focus + .lable-form{
    display: inline-block;
    background-color: white;
    transition: 0.25s ease;
    color: rgba(55, 169, 205, 1);
    top:-16px;
    left: 11px;
    padding: 5px;
}
.btn-submit{
    background: #37A9CD;
    border-radius: 5px; 
    width: 400px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-bottom: 15px;
}
.btn-signinWith_GG{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: #2D3748;
    color: #ffffff;
    margin-bottom: 32px;
    border: none;
}
/* main-food */
.main_foot{
    text-align: center;
}
.main_foot h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #616161;
    margin-bottom: 16px;
}
.main_foot a{
    text-decoration: none;
}
.main_foot h3 span{
    color: #37A9CD;
}
.main_foot h3 span:hover{
    color: #27839f;
}